{% extends 'base.html' %}
{% block content %}
    <div class="article-entry">
        <h2>{{ article.title }}</h2>
        <p>by {{ article.author }} | {{ article.date }}</p>
        <p>{{ article.body }}</p>
    </div>
    <p><a href="{% url 'article_edit' article.pk %}">Edit</a> | <a
            href="{% url 'article_delete' article.pk %}">Delete</a></p>
    <p>Back to <a href="{% url 'articles' %}">All Articles</a>.</p>
    <a href="{% url 'comment_new' article.pk %}">+ Comment</a>
    {% for comment in article.comments.all %}
        <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
        </p>
    {% endfor %}
{% endblock content %}